@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.header{
    margin-top: 40px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 11px;
    padding-top: 30px;
}

.nav-logins{
    padding-top: 39px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 21px;
}
a{
    text-decoration: none;
}
.home{
    color: orangered;
}
.links{
    color: black;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    
}


.menu-div{
    padding-top: 10px;
}

#block{
    display: block;
    color: orangered;
    border: 2px solid orangered;
    padding: 10px;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.login-register{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
color: rgba(201, 195, 193, 1);
}

.fa-cart-shopping , .fa-regular{
    color: orangered;
}
.fa-bars{
    display: none;
}

.nav-button{
    background-color: orangered;
    color: white;
    padding: 15px;
    display: flex;
    gap: 5px;
    border-radius: 30px;
    font-size: 1rem;
    
}

/* banner */

.banner-container{
    margin-top: 100px;
}

.banner-title{
    font-size: 3.2rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.banner-description{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(147, 134, 131, 1);

}

.banner-button{
    background-color: orangered;
    color: white;
    margin-left: 10px;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-texts{
    padding: 30px 100px;
}

.banner-image-container{
    padding: 0 190px;
    position: relative;
}

#pic1{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
#pic2{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.pic1-container{
    z-index: 0;
}

.pic2-container{
    position: absolute;
    bottom: 25%;
    right: 22%;
    z-index: 2;
}


.logo1-container{
    display: flex;
    background-color: white;
}

.logo1-cat-texts{
    padding: 6px;
}

#log-1, #log-2, #log-3, #log-4{
    height: 83px;
}

.logo1-texts, .logo2-texts, .logo3-texts, .logo4-texts{
    margin-left: 10px;
}

.service-logo-container{
    gap: 30px;
}

.service-div-description{
    margin-bottom: 20px;
    margin-top: 20px;
}

.design-1{
    position: absolute;
    bottom: 45%;
    left: 17%;
}

.design-2{
    position: absolute;
    bottom: 50%;
    right: 7%;
    top: 40%;
}



/* cat with background */

.bacground-1{
    position: relative;
    max-width: 781px;
    height: 449px;
}

.cat-big{
    position: absolute;
    top: 0;
    left: 206px;
    max-width: 781px;
    height: 449px;
}

.background-2{
   position: absolute;
   top: 239px;
   left: 509px;
   max-width: 300px;
    height: 250px;
}

.cat-small{
    position: absolute;
    top: 239px;
    left: 510px;
    max-width: 250px;
    height: 250px;
}

.ban-design-1{
    position: absolute;
    top: -3px;
    left: 429px;
    max-width: 250px;
    height: 230px;
}

.ban-design-2{
    position: absolute;
    top: 210px;
    left: 80px;

    max-width: 250px;
    height: 230px;
}

.pic3-container{
    position: absolute;
    border: 1px solid steelblue;
    background-color: rgb(2, 25, 40);
    bottom: -53px;
    right: 175px;
}

/* .pic3-container{
    border: 1px solid steelblue;
    background-color: rgb(2, 25, 40);
    position: absolute;
    bottom: 20%;
    right: 35%;
    z-index: 2;
} */