.company-icon {
    max-width: 164px;
    height: 80px;
}
.company-icon-container {
    display: flex;
    gap: 125px;
    margin-left: 103px;
    /* margin-right: 100px; */
}
.company{
    margin-top: 250px;
}