.listing-div1{
    margin-top: 200px;
    margin-bottom: 50px;
}

.list-title{
    font-size: 2rem;
}

.listing-div1{
    text-align: center;
    
}
.listing-div2 {
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    position: relative;
}

.listing-div3 {
    text-align: center;
    margin-top: 105px;
}
.list-image{
    max-width: 370px;
    height: 300px;
    border-radius: 10px;
}

.div2-inner-1, .div2-inner-3 {
    text-align: center;
    margin-top: 122px;
}


.list-1-abs {
    position: absolute;
    right: 29%;
    top: -2%;
}
.list-2-abs {
    position: absolute;
    bottom: -49%;
    left: 28%;
}

.list-text{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;  
    color: rgb(147, 134, 131, 1);
    line-height: 30px;
}

.puppies{
    margin-top: 10px;
    color: rgba(38, 14, 7, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;


}

.create{
    color: rgba(97, 213, 223, 1);
}

.div2-inner-2{
    position: relative;
}

.large-cat-backgrnd {
    position: absolute;
    max-width: 313px;
    height: 191px;
    top: 126px;
    left: -149px;
}
.large-cat {
    position: absolute;
    max-width: 300px;
    height: 329px;
    top: -12px;
    left: -74px;
}