.perfect{
    margin-top: 300px;
    /* border: 2px solid salmon; */
}

.perfect-image{
    max-width: 250px;
    height: 250px;
    border-radius: 20%;
}

.comma{
    max-width: 30px;
}

.perfect-container {
    display: flex;
    gap: 384px;
    /* margin-left: 209px; */
}

.perfect-title{
    margin-left: 28px;
    font-weight:bolder;
    font-size: 2rem;
}

.perfect-description{
    margin-top: 15px;
    margin-left: 28px;
    color: rgba(147, 134, 131, 1);
    line-height: 20px;
}

.perfect-description-2 {
    margin-top: 37px;
    margin-left: 29px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.perfect-div2{
    margin-top: 50px;
}

.perfect-div1 {
    position: relative;
    margin-left: 98px;
}

.perfect-backgrnd{
    position: absolute;
    
}

.perfect-image {
    position: absolute;
    max-width: 300px;
    height: 350px;
    top: -64px;
    left: -22px;
}