.pets{
    margin-top: 15%;
    text-align: center;
}



.pet-image{
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pets-image-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.pet-title{
    font-size: 2.5rem;
    font-weight: 700;
}

.pet-description{
    color: gray;
    margin-top: 20px;
}

.image-caption{
    font-weight: 800;
    text-align: center;
}