@media screen and (max-width:576px) {
    .listing-div2{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .div2-inner-1{
        margin-right: 50px;
    }
    .div2-inner-2{
        order: -1;
    }

    .div2-inner-2{
        margin-left: 40px;
    }
    .div2-inner-3{
        margin-top: 30px;
        text-align: center;
    }
    .div2-inner-inner{
        margin-left: 40px;
    }

    .list-section{
        border-radius: 10px;
    }
    .list-1-abs,.list-2-abs{
        display: none;
    }
}