@media screen and (max-width:576px) {
    .flex-container{
        display: grid;
        gap: 40px;
    }
    .health-anchors{
        margin-left: 20px;
    }
    .health {
        margin-left: 148px;
        margin-top: 200px;
    }
    
    .health-div1{
        margin-left: -12px;
    }

    .health-image{
        max-width: 100%;
    }

    .health-div2 {
        margin-left: -15px;
    }
    .health-2-abs, .health-1-abs{
        display: none;
    }

    .person-image {
        position: absolute;
        max-width: 267px;
        height: 205px;
        top: 26px;
        left: 23px;
    }

    .person-backgrnd {
        position: absolute;
        max-width: 297px;
        height: 170px;
        top: 95px;
        left: 9px;
    }

    .health-anchors{
        display: none;
    }
   
}