@media screen and (max-width:576px) {
    .company-icon-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
        margin-left: 142px;
    }
    .company-icon {
        max-width: 151px;
        height: 100px;
    }
    .company{
        margin-top: 500px;
    }
}