@media screen and (max-width:576px) {
    .service-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .service-div2{
        position: relative;
        margin-top: 30px;
    }
    .service-div {
        margin-top: -129px;
        margin-left: -93px;
    }
    .logo-title {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 12px;
    }
    .pink-background {
        position: absolute;
        max-width: 305px;
        height: 264px;
        top: 14px;
        left: -85px;
        bottom: 8px;
    }



    .girl-with-cat {
        position: absolute;
        max-width: 300px;
        height: 406px;
        top: -128px;
        left: -81px;
    }

    .absolute-2{
        display: none;
        /* position: absolute;
        left: 61%; */
    }
    .service-logo-container{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .service-image{
        max-width: 100%;
    }

    .service-div-title {
        text-align: center;
        margin-left: -35px;
    }

    .service-div-description {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: rgba(147, 134, 131, 1);
        padding: 0;
    }

    .absolute-3,.absolute-4{
        display: none;
    }

    #log-1, #log-2, #log-3, #log-4{
        padding-top: 15px;
    }

    /* .popular-title{
        margin-top: ;
    } */

    .most-popular {
        margin-top: 431px;
    }
    
    
}