@media screen and (max-width:576px) {
    .nav-menu{
        margin-left: 40px;
    }
    #block{
        border: none;
    }
    .nav-menu, .login-register{
        display: none;
    }

    .nav-logins > .fa-user, .nav-button{
        display: none;
    }
    .fa-bars{
        display: block;
    }

    .nav-logins{
        display: flex;
        gap: 20px;
    }
    

    .banner-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        /* padding-right: 100px; */
    }

    .banner-texts{
        align-items: center;
        padding: 0;
        text-align: center;
        margin-left: 5%;
    }

    .banner-description{
        margin-bottom: 30px;
        margin-right: 0;
        
    }
    .banner-image-container{
        padding: 0;
        position: relative;
        margin-left: 10px;
    }

    .pic1-container{
        margin-bottom: 150px; 
    }
    .pic2-container{
       
        position: absolute;
        right: 75%;
        top: 50%;
        left: 47%;
    }
    .pic3-container{
        position: absolute;
        bottom: 22%;
        right: 40%;
    }

    /* featured */
    .pets{
        text-align: center;
    }

    .pets-image-container{
        flex-wrap: wrap;
        gap: 40px;
        padding: 0;
        margin-top: 50px;
    }
   
    .main{
        margin-top: 300px;
    }
    
    .image-caption{
        text-align: center;
    }

    .design-1{
        display: none;
    }
    
    .design-2{
        display: none;
    }
    
}