    @media screen and (max-width:576px) {
        .shop-div2{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            margin-left: 50px;
        }

        .dog{
            background-color: white;
            margin-left: 60px;
        }

        .cat{
            background-color: white;
            margin-left: 60px;
        }
        
        .bird{
            background-color: white;
            margin-left: 60px;
        }
        
        .rabit{
            background-color: white;
            margin-left: 60px;
        }
        
        .fish{
            background-color: white;
            margin-left: 60px;
        }

        .fish2{
            background-color: white;
            margin-left: 60px;
        }
        .shop-1-abs, .shop-2-abs{
            display: none;
        }
    }