@media screen and (max-width:576px) {
    .listing-div2{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .div2-inner-1 {
        margin-right: 44px;
        margin-top: 369px;
    }
    .div2-inner-2{
        order: -1;
    }

    .div2-inner-2{
        margin-left: 40px;
    }
    .div2-inner-3{
        margin-top: 30px;
        text-align: center;
    }
    .div2-inner-inner{
        margin-left: 40px;
    }

    .list-section{
        border-radius: 10px;
    }
    .list-1-abs,.list-2-abs{
        display: none;
    }
    .large-cat-backgrnd {
        position: absolute;
        max-width: 300px;
        height: 219px;
        top: 126px;
        left: -149px;
        margin-left: 100px;
    }

    .large-cat {
        position: absolute;
        max-width: 300px;
        height: 329px;
        top: 16px;
        left: 21px;
    }

    .listing-div3 {
        text-align: center;
        margin-top: 47px;
    }
}