@media screen and (max-width:576px) {
    .footer-div1{
        display: grid;
        margin-bottom: 20px;
    }
    .footer-div2{
        display: none;
    }
    .footer-icons{
        margin-left: 50px;
    }
    .petshop{
        text-align: center;
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .input-text{
        text-align: center;
        margin-top: 10px;
    }

    .white-dog{
        
    }
}