/* featured services style */

.logo-1, .logo-2, .logo-3, .logo-4{
    display: flex;
}

.logo1-texts, .logo2-texts, .logo3-texts, .logo4-texts{
    padding-top: 20px;
}

.service-container{
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-bottom: 100px;
    
}

.service-logo-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.service-image{
    max-width: 350px;
    height: 300px;
    border-radius: 20%;
}

.logo-title{
    font-size: 2rem;
    font-weight: 700;
}

.service-div-title{
    padding-left: 20px;
}

.service-div-description{
    padding-left: 20px;
}

.service-div2{
    position: relative;
}

/* .service-div{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    margin-left: -7px;
} */
.absolute-2{
    position: absolute;
    bottom: 65%;
    left: -15%;
}

.absolute-3{
    position: absolute;
    left: -18%;
    bottom: 7%;
    
}
.absolute-4{
    position: absolute;
    right: -18%;
    top: 10%;
}

.service-image2{
    max-height: 150px;
}