.shop{
    margin-top: 300px;
}

.shop-div1{
    text-align: center;
}

.shop-div2{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 50px;
    margin-left: 245px;
    margin-top: 30px;
    position: relative;
}

.pet_container{
   
        border-radius: 30%;
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
 
}
.dog{
    background-color: lightblue;
   
}

.cat{
    background-color: lightsalmon;
    
}

.bird{
    background-color: lightcoral;
    
}

.rabit{
    background-color: lightskyblue;
  
}

.fish{
    background-color: skyblue;
   
}

.fish2{
    background-color: bisque;
    
}

.shop-title{
    font-size: 2rem;
    font-weight: 700;
}
.shop-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(147, 134, 131, 1);
    margin-top: 10px;
    line-height: 30px;
}

.shop-1-abs{
    position: absolute;
    left: -12%;
    top: 20%;
}
.shop-2-abs{
    position: absolute;
    right: 7%;
    bottom: -6%;
}

.slider {
    width: 95px;
    height: 20px;
    margin-left: 135px;
    margin-top: 45px;
}